# Site Settings
title: "My Blog"
subtitle: "A personal blog on various topics of interest"
name: "Reed Kimble"
description: "A personal blog on various topics of interest"
url: ""
baseurl: ""
repository: "ReedKimble/Blog"

# Theme Settings
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
minimal_mistakes_skin: "default"

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-remote-theme

# Site Author
author:
  name: "Reed Kimble"
  bio: "IT Engineer, Developer, Hobbiest Scientist/Philosopher"
  avatar: "/assets/images/avatar.png"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/reedkimble"

# Reading Files
include:
  - _pages

# Pagination
paginate: 5
paginate_path: /page:num/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
